* {   
    margin: 0;   
    padding: 0;   
    box-sizing: border-box; 
}

body {   
    font-family: 'Roboto', sans-serif;   
    line-height: 2;      
    background-color: #faffe4; 
}

h1 {   
    font-size: 2.5em;   
    font-weight: 700;   
    color: #264de4;   
    text-align: center;   
    line-height: 2;   
    margin-bottom: 20px;
    border-bottom: 3px solid #3498db;   
    padding-bottom: 10px; 
}
h2 {   
    font-size: 2em;  
    font-weight: 600; 
    color: #3498db; 
    text-align: center;  
    margin-top: 20px;   
    margin-bottom: 5px;  
    border-top: 2px solid #3498db;
    padding-top: 10px; 
}
h3 {   
    font-size: 1.5em; 
    font-weight: 500;  
    color: #555;
    text-align: center;   
    margin-top: 20px;   
    margin-bottom: 10px; 
    border-top: 2px solid #3498db;
    padding-top: 10px;
}

p {   
    font-size: 1em;  
    line-height: 2; 
    text-align: center;
    margin-bottom: 15px; 
}

nav {   
    font-size: 1em;  
    line-height: 2; 
    text-align: center;
    margin-bottom: 15px; 
}

figure {   
    
    text-align: center;
    
}